NodeRed_Interfaccia
[
    {
        "id": "e1e47c94d1d74eb5",
        "type": "tab",
        "label": "Control Interface",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c8b9e80f4c3a5be",
        "type": "inject",
        "z": "e1e47c94d1d74eb5",
        "name": "Send Command",
        "topic": "",
        "payload": "{\"K\": 0, \"Q\": 0, \"E\": false, \"F\": false, \"D\": 0, \"N\": null, \"P\": null, \"O\": null, \"M\": false, \"I\": false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 80,
        "wires": [["4c62f1c98ab11f29"]]
    },
    {
        "id": "4c62f1c98ab11f29",
        "type": "function",
        "z": "e1e47c94d1d74eb5",
        "name": "Format Data",
        "func": "msg.payload = {\n    \"K\": msg.payload.K.toString(),\n    \"Q\": msg.payload.Q.toString(),\n    \"E\": msg.payload.E ? \"1\" : \"0\",\n    \"F\": msg.payload.F ? \"1\" : \"0\",\n    \"D\": msg.payload.D.toString(),\n    \"N\": msg.payload.N,\n    \"P\": msg.payload.P,\n    \"O\": msg.payload.O,\n    \"M\": msg.payload.M ? \"1\" : \"0\",\n    \"I\": msg.payload.I ? \"1\" : \"0\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 80,
        "wires": [["57b1cc74b947a2f6"]]
    },
    {
        "id": "57b1cc74b947a2f6",
        "type": "websocket out",
        "z": "e1e47c94d1d74eb5",
        "name": "",
        "server": "1cbf9e0f31f5869c",
        "client": "",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "ba6237a2f4181188",
        "type": "websocket in",
        "z": "e1e47c94d1d74eb5",
        "name": "",
        "server": "1cbf9e0f31f5869c",
        "client": "",
        "x": 140,
        "y": 140,
        "wires": [["fae4c3f09c15d320", "c8f5e9c12c8eb12e", "da1c6e62d3672584", "e4f0e073e62d3d20"]]
    },
    {
        "id": "fae4c3f09c15d320",
        "type": "debug",
        "z": "e1e47c94d1d74eb5",
        "name": "Status Response",
        "active": true,
        "tos": "json",
        "toss": false,
        "qos": "",
        "retain": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "c8f5e9c12c8eb12e",
        "type": "ui_text",
        "z": "e1e47c94d1d74eb5",
        "group": "b5f6f178.a02c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IR Left N",
        "label": "IR Left",
        "format": "{{msg.payload.N}}",
        "layout": "row-spread",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "da1c6e62d3672584",
        "type": "ui_text",
        "z": "e1e47c94d1d74eb5",
        "group": "b5f6f178.a02c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Ultrasound O",
        "label": "Ultrasound",
        "format": "{{msg.payload.O}}",
        "layout": "row-spread",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "e4f0e073e62d3d20",
        "type": "ui_text",
        "z": "e1e47c94d1d74eb5",
        "group": "b5f6f178.a02c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "IR Right P",
        "label": "IR Right",
        "format": "{{msg.payload.P}}",
        "layout": "row-spread",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "1cbf9e0f31f5869c",
        "type": "websocket-client",
        "z": "",
        "name": "ESP32 WebSocket",
        "server": "192.168.1.150",
        "port": "8765",
        "client": "",
        "path": "",
        "autoConnect": true,
        "reconnect": true
    },
    {
        "id": "8c6f3b9b15f907de",
        "type": "ui_slider",
        "z": "e1e47c94d1d74eb5",
        "name": "Left Region K",
        "label": "Left",
        "group": "b5f6f178.a02c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "value": "0",
        "payload": "msg.payload.K",
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "dabe30b4cfdff792",
        "type": "ui_slider",
        "z": "e1e47c94d1d74eb5",
        "name": "Right Region Q",
        "label": "Right",
        "group": "b5f6f178.a02c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "value": "0",
        "payload": "msg.payload.Q",
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "69d061b62e9dcd45",
        "type": "ui_slider",
        "z": "e1e47c94d1d74eb5",
        "name": "Camera Servo D",
        "label": "Camera Servo",
        "group": "b5f6f178.a02c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "min": 0,
        "max": 180,
        "step": 1,
        "value": "0",
        "payload": "msg.payload.D",
        "topic": "",
        "x": 140,
        "y": 160,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "35e64aab14b305fc",
        "type": "ui_switch",
        "z": "e1e47c94d1d74eb5",
        "name": "Avoid E",
        "label": "Avoid",
        "group": "b5f6f178.a02c5",
        "order": 4,
        "width": 0,
        "height": 0,
        "onValue": "1",
        "onIcon": "",
        "onColor": "",
        "offValue": "0",
        "offIcon": "",
        "offColor": "",
        "payload": "msg.payload.E",
        "topic": "",
        "x": 350,
        "y": 40,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "0cd29058b1b3485e",
        "type": "ui_switch",
        "z": "e1e47c94d1d74eb5",
        "name": "Chase F",
        "label": "Chase",
        "group": "b5f6f178.a02c5",
        "order": 5,
        "width": 0,
        "height": 0,
        "onValue": "1",
        "onIcon": "",
        "onColor": "",
        "offValue": "0",
        "offIcon": "",
        "offColor": "",
        "payload": "msg.payload.F",
        "topic": "",
        "x": 350,
        "y": 100,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "7c00cce2be17e0a3",
        "type": "ui_switch",
        "z": "e1e47c94d1d74eb5",
        "name": "Light M",
        "label": "Light",
        "group": "b5f6f178.a02c5",
        "order": 6,
        "width": 0,
        "height": 0,
        "onValue": "1",
        "onIcon": "",
        "onColor": "",
        "offValue": "0",
        "offIcon": "",
        "offColor": "",
        "payload": "msg.payload.M",
        "topic": "",
        "x": 350,
        "y": 160,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "69d61c27038f4f63",
        "type": "ui_button",
        "z": "e1e47c94d1d74eb5",
        "name": "Stop I",
        "group": "b5f6f178.a02c5",
        "order": 7,
        "width": 0,
        "height": 0,
        "pass": "all",
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"I\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 340,
        "wires": [["2c8b9e80f4c3a5be"]]
    },
    {
        "id": "b5f6f178.a02c5",
        "type": "ui_group",
        "z": "",
        "name": "Control Panel",
        "tab": "dbef45e3.70bde8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dbef45e3.70bde8",
        "type": "ui_tab",
        "z": "",
        "name": "Robot Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
